<%- include('../partials/header') %>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Threads</title>
</head>

<body>
    <hr>
    <h1>Create New Thread</h1>
    <div class="container">
        <form class="threadForm" action="/topics/<%= topic %>/threads" method="POST">
            <input type="text" placeholder="Title" name="title">
            <textarea placeholder="Content" name="content"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Views</th>
                <th>Posts</th>
                <th>CreatedAt</th>
            </tr>
        </thead>
        <tbody>
            <% threads.forEach(function(t){ %>
            <tr>
                <td><a href="/threads/<%= t._id %>"><%= t.title %></a></td>
                <td><%= t.views %></td>
                <td><%= t.posts.length %></td>
                <td><%= t.createdAt.toLocaleDateString() %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>