<%- include('../partials/header') %>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>topic</title>
</head>

<body>
    <form class="threadForm" action="/topics/<%= topic %>/threads" method="POST">
        <input type="text" placeholder="Title" name="title">
        <textarea placeholder="Content" name="content"></textarea>
        <input type="submit" value="Submit">
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>CreatedAt</th>
                <th>Views</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>Engine Running Strong Post Recall</td>
                    <td>November 21, 2020</td>
                    <td>8271</td>
                    <td>131</td>
                </tr>
                <% threads.forEach(function(t){ %>
                    <tr>
                        <td><a href="/threads/<%= t._id %>"><%= t.title %></a></td>
                        <td><%= t.createdAt %></td>
                        <td><%= t.views %></td>
                        <td><%= t.posts.length %></td>
                    </tr>
                <% }) %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>