<%- include('../partials/header') %>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Thread</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>Views</th>
                <th>Posts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= thread.title %></td>
                <td><%= thread.content%></td>
                <td><%= thread.createdAt.toLocaleDateString()  %></td>
                <td><%= thread.views %></td>
                <td><%= thread.posts.length %></td>
            </tr>

        </tbody>
    </table>
    <br><br>
    <hr>
    <h2>Reply</h2>
    <% if (user) { %>
    <form id="add-post-form" method="POST" action="/threads/<%= thread._id %>/posts">
        <label>Post:</label>
        <textarea name="content"></textarea>
        <input type="submit" value="Add Post">
    </form>
    <hr>
    <% } %>
    <% if (thread.posts.length) { %>
    <table>
        <thead>
            <tr>
                <th>userAvatar</th>
                <th>userName</th>
                <th>content</th>
                <th>createdAt</th>
                <% if (user && user._id.equals(thread.posts.user)) { %>
                <th>Edit</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% thread.posts.forEach(function(p) { %>
            <tr>
                <td><img src="<%= p.userAvatar %>" alt="Avatar"></td>
                <td><%= p.userName %></td>
                <td><%= p.content %></td>
                <td><%= p.createdAt.toLocaleDateString() %></td>
                <td>
                    <% if (user && user._id.equals(p.user)) { %>
                    <form action="/posts/<%= p._id %>?_method=PUT" method="POST">
                        <textarea name="content"></textarea>
                        <br>
                        <div class="postBtns">
                            <button type="submit">Edit</button>
                    </form>
                    <form action="/posts/<%= p._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    </div>
                    <% } %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <% } else { %>
    <h5>No Posts Yet</h5>
    <% } %>

</body>
<%- include('../partials/footer') %>